<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipeline Detection System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/css/index.css">
    <!-- 引入组件库 -->
    <script src="static/js/index.js"></script>
    <script src="static/js/require.js"></script>
    <script type="text/javascript" src="static\js\echarts.min.js"></script>
    <script src="static\js\jquery-3.5.1.min.js"></script>
</head>

<body>
<div id="container" align="center">
    <el-container style="width: 100%; border: 1px solid #eee">
        <el-header style="text-align: center; font-size:x-large;border: 1px solid #eee;align-items: center">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item>
                    <el-link :underline="false" href=""
                             style="font-weight: bold;color: #3a8ee6;font-size: large">Pipeline Detection
                        System
                    </el-link>
                </el-menu-item>
                <el-submenu index="1" style="float: right">
                    <template slot="title">
                        Simplexity Lab
                    </template>
                    <el-menu-item index="2">Developing1</el-menu-item>
                    <el-menu-item index="2-2">Developing2</el-menu-item>
                    <el-menu-item index="2-3">Developing3</el-menu-item>
                    <el-submenu index="2-4">
                        <template slot="title">Developing4</template>
                        <el-menu-item index="2-4">Developing1</el-menu-item>
                        <el-menu-item index="2-4-2">Developing2</el-menu-item>
                        <el-menu-item index="2-4-3">Developing3</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-menu-item index="2" style="float: right">
                    <div>
                        <el-avatar
                                src="static/images/avatar.png"></el-avatar>
                    </div>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-container style=" border: 1px solid #eee">
            <el-aside width="15%" style="background-color: rgb(238, 241, 246);border: 1px solid #eee;">
                <el-menu :default-openeds="['1', '3']" style="text-align: left;height: 700px">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-setting"></i>System Settings</template>
                        <el-menu-item-group>
                            <el-menu-item index="1">
                                <el-link :underline="false" href="">
                                    <i class="el-icon-back"></i>Home Page
                                </el-link>
                            </el-menu-item>
                            <el-menu-item index="1">
                                <el-link :underline="false" @click="dialog = true"><i class="el-icon-s-operation"></i>Configuration
                                    Item
                                </el-link>
                            </el-menu-item>
                            <el-menu-item index="1">
                                <el-link :underline="false" href=""><i
                                        class="el-icon-delete"></i>Clear Cache
                                </el-link>
                            </el-menu-item>
                            <el-menu-item index="1">
                                <el-link :underline="false" href=""><i
                                        class="el-icon-orange"></i>Ontology Model
                                </el-link>
                            </el-menu-item>
                            <el-menu-item index="1">
                                <el-link :underline="false" href="http://localhost:7474/browser"><i
                                        class="el-icon-help"></i>Neo4j Database
                                </el-link>
                            </el-menu-item>
                            <el-menu-item index="1">
                                <el-link :underline="false" href="">
                                    <i class="el-icon-refresh"></i>Update Json
                                </el-link>
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-container width="85%">
                    <el-main style="height: 650px" class="page_scroll">
                        <el-backtop target=".page_scroll" visibility-height="0"></el-backtop>
                        <el-alert
                                title="Instructions: (1) Upload images or videos by clicking or dragging; (2) Click the Detect button and use YOLOv5 deep learning model to detect; (3) Click the Get Repair Advice button to run drools"
                                type="success"
                                :closable="false">
                        </el-alert>
                        <div style="text-align: center">

                                <div align="center">
                                    <div style="transform:translateY(30%);width: 400px">
                                        <el-upload
                                                class="upload-demo"
                                                drag
                                                action=""
                                                multiple
                                                name="file"
                                                auto-upload>
                                            <i class="el-icon-upload"></i>
                                            <div class="el-upload__text">Drag files here, or<em> click upload</em></div>
                                        </el-upload>
                                        <br>
                                        <form action="" method="post">
                                            <el-button type="primary" icon="el-icon-caret-right" native-type="submit"
                                                       @click="openFullScreen2">Detect
                                            </el-button>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </el-main>
                        <el-aside style="float: right;width:400px;height: auto ">
                            <div class="demo-drawer__content" align="left" style="width: 100%;border: 1px solid #eee">
                                <template>
                                    <el-tabs v-model="activeName" @tab-click="handleClick" type="card">
                                        <el-tab-pane label="Yolov5" name="first">
                                            <div class="demo-drawer__content">
                                                <el-form ref="yolov5_form" :model="yolov5_form" label-width="30%"
                                                         action=""
                                                         method="Post">
                                                    <el-form-item label="Weights">
                                                        <el-upload
                                                                class="upload-demo"
                                                                action=""
                                                                name="yolov5_weights"
                                                                :on-preview="handlePreview"
                                                                :on-remove="handleRemove"
                                                                :before-remove="beforeRemove"
                                                                multiple
                                                                :limit="1"
                                                                :on-exceed="handleExceed"
                                                                :file-list="fileList"
                                                                :auto-upload="false">
                                                            <el-button size="small" type="primary">点击上传</el-button>
                                                        </el-upload>
                                                    </el-form-item>
                                                    <el-form-item label="imgsz">
                                                        <el-input v-model="yolov5_form.imgsz"
                                                                  name="imgsz"></el-input>
                                                    </el-form-item>
                                                    <el-form-item label="conf_thres">
                                                        <el-input-number v-model="yolov5_form.conf_thres"
                                                                         :precision="2"
                                                                         :step="0.01"
                                                                         :max="1" :min="0"
                                                                         name="conf_thres"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item label="iou_thres">
                                                        <el-input-number v-model="yolov5_form.iou_thres"
                                                                         :precision="2"
                                                                         :step="0.01"
                                                                         :max="1" :min="0"
                                                                         name="iou_thres"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item label="device">
                                                        <template>
                                                            <el-select v-model="yolov5_form.device"
                                                                       placeholder="Please select"
                                                                       name="device">
                                                                <el-option
                                                                        v-for="item in yolov5_form.device_option"
                                                                        :key="item.value"
                                                                        :label="item.label"
                                                                        :value="item.value">
                                                                </el-option>
                                                            </el-select>
                                                        </template>
                                                    </el-form-item>
                                                    <el-form-item label="line_thickness">
                                                        <el-input-number v-model="yolov5_form.line_thickness"
                                                                         @change="handleChange"
                                                                         :min="1" :max="10"
                                                                         name="line_thickness"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item label="hide_labels">
                                                        <template>
                                                            <el-select v-model="yolov5_form.hide_labels"
                                                                       placeholder="Please select"
                                                                       name="hide_labels">
                                                                <el-option
                                                                        v-for="item in yolov5_form.hide_labels_option"
                                                                        :key="item.value"
                                                                        :label="item.label"
                                                                        :value="item.value">
                                                                </el-option>
                                                            </el-select>
                                                        </template>
                                                    </el-form-item>
                                                    <el-form-item label="hide_conf">
                                                        <template>
                                                            <el-select v-model="yolov5_form.hide_conf"
                                                                       placeholder="Please select"
                                                                       name="hide_conf">
                                                                <el-option
                                                                        v-for="item in yolov5_form.hide_conf_option"
                                                                        :key="item.value"
                                                                        :label="item.label"
                                                                        :value="item.value">
                                                                </el-option>
                                                            </el-select>
                                                        </template>
                                                    </el-form-item>
                                                    <el-form-item>
                                                        <el-button type="primary" @click="" native-type="submit">
                                                            Submit
                                                        </el-button>
                                                        <el-button @click="dialog = false">Cancel</el-button>
                                                    </el-form-item>
                                                </el-form>
                                            </div>
                                        </el-tab-pane>
                                        <el-tab-pane label="Faster-RCNN" name="second">
                                            <div class="demo-drawer__content2">
                                                <el-form ref="frcnn_form" :model="frcnn_form" label-width="30%"
                                                         action=""
                                                         method="Post">
                                                    <el-form-item label="scores_thres">
                                                        <el-input-number v-model="frcnn_form.scores_thres"
                                                                         :precision="2" :step="0.01"
                                                                         :max="1" :min="0"
                                                                         name="scores_thres"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item label="fontScale">
                                                        <el-input-number v-model="frcnn_form.fontScale"
                                                                         :precision="2"
                                                                         :step="0.01"
                                                                         :max="1" :min="0"
                                                                         name="fontScale"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item label="thickness">
                                                        <el-input-number v-model="frcnn_form.thickness"
                                                                         @change="handleChange"
                                                                         :min="1" :max="10"
                                                                         name="thickness"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item>
                                                        <el-button type="primary" @click="" native-type="submit">
                                                            Submit
                                                        </el-button>
                                                        <el-button @click="dialog = false">Cancel</el-button>
                                                    </el-form-item>
                                                </el-form>
                                            </div>
                                        </el-tab-pane>
                                        <el-tab-pane label="Key Frame Extraction" name="third">
                                            <div class="demo-drawer__content3">
                                                <el-form ref="keyframe_form" :model="keyframe_form"
                                                         label-width="30%"
                                                         action=""
                                                         method="Post">
                                                    <el-form-item label="Min_dist">
                                                        <el-input v-model="keyframe_form.Min_dist"
                                                                  name="Min_dist"></el-input>
                                                    </el-form-item>
                                                    <el-form-item label="Thres">
                                                        <el-input-number v-model="keyframe_form.Thres"
                                                                         :precision="2"
                                                                         :step="0.01"
                                                                         :max="1" :min="0"
                                                                         name="Thres"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item label="Deg">
                                                        <el-input-number v-model="keyframe_form.Deg"
                                                                         @change="handleChange" :min="1"
                                                                         :max="10" name="Deg"></el-input-number>
                                                    </el-form-item>
                                                    <el-form-item>
                                                        <el-button type="primary" @click="" native-type="submit">
                                                            Submit
                                                        </el-button>
                                                        <el-button @click="dialog = false">Cancel</el-button>
                                                    </el-form-item>
                                                </el-form>
                                            </div>
                                        </el-tab-pane>

                                    </el-tabs>
                                </template>
                            </div>
                        </el-aside>

                </el-container>
                <el-footer style="border: 1px solid #eee;">
                    <el-descriptions title="" style="align-content:center;margin: 20px ">
                        <el-descriptions-item label="About us">Simplexity Lab</el-descriptions-item>
                        <el-descriptions-item label="Github"><el-link type="info">https://github.com/simplexity-lab</el-link></el-descriptions-item>
                    </el-descriptions>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
    <el-drawer
            title="Configuration Item Settings"
            :before-close="handleClose"
            :visible.sync="dialog"
            direction="rtl"
            custom-class="demo-drawer"
            ref="drawer"
    >
        <div class="demo-drawer__content" align="left" style="width: 90%">
            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick" type="card">
                    <el-tab-pane label="Yolov5" name="first">
                        <div class="demo-drawer__content">
                            <el-form ref="yolov5_form" :model="yolov5_form" label-width="100px"
                                     action=""
                                     method="Post">
                                <el-form-item label="Weights">
                                    <el-upload
                                            class="upload-demo"
                                            action=""
                                            name="yolov5_weights"
                                            :on-preview="handlePreview"
                                            :on-remove="handleRemove"
                                            :before-remove="beforeRemove"
                                            multiple
                                            :limit="1"
                                            :on-exceed="handleExceed"
                                            :file-list="fileList"
                                            :auto-upload="false">
                                        <el-button size="small" type="primary">点击上传</el-button>
                                    </el-upload>
                                </el-form-item>
                                <el-form-item label="imgsz">
                                    <el-input v-model="yolov5_form.imgsz"
                                              name="imgsz"></el-input>
                                </el-form-item>
                                <el-form-item label="conf_thres">
                                    <el-input-number v-model="yolov5_form.conf_thres"
                                                     :precision="2"
                                                     :step="0.01"
                                                     :max="1" :min="0"
                                                     name="conf_thres"></el-input-number>
                                </el-form-item>
                                <el-form-item label="iou_thres">
                                    <el-input-number v-model="yolov5_form.iou_thres"
                                                     :precision="2"
                                                     :step="0.01"
                                                     :max="1" :min="0"
                                                     name="iou_thres"></el-input-number>
                                </el-form-item>
                                <el-form-item label="device">
                                    <template>
                                        <el-select v-model="yolov5_form.device"
                                                   placeholder="Please select"
                                                   name="device">
                                            <el-option
                                                    v-for="item in yolov5_form.device_option"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-form-item>
                                <el-form-item label="line_thickness">
                                    <el-input-number v-model="yolov5_form.line_thickness"
                                                     @change="handleChange"
                                                     :min="1" :max="10"
                                                     name="line_thickness"></el-input-number>
                                </el-form-item>
                                <el-form-item label="hide_labels">
                                    <template>
                                        <el-select v-model="yolov5_form.hide_labels"
                                                   placeholder="Please select"
                                                   name="hide_labels">
                                            <el-option
                                                    v-for="item in yolov5_form.hide_labels_option"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-form-item>
                                <el-form-item label="hide_conf">
                                    <template>
                                        <el-select v-model="yolov5_form.hide_conf"
                                                   placeholder="Please select"
                                                   name="hide_conf">
                                            <el-option
                                                    v-for="item in yolov5_form.hide_conf_option"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="" native-type="submit">
                                        Submit
                                    </el-button>
                                    <el-button @click="dialog = false">Cancel</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Faster-RCNN" name="second">
                        <div class="demo-drawer__content2">
                            <el-form ref="frcnn_form" :model="frcnn_form" label-width="100px"
                                     action=""
                                     method="Post">
                                <el-form-item label="scores_thres">
                                    <el-input-number v-model="frcnn_form.scores_thres"
                                                     :precision="2" :step="0.01"
                                                     :max="1" :min="0"
                                                     name="scores_thres"></el-input-number>
                                </el-form-item>
                                <el-form-item label="fontScale">
                                    <el-input-number v-model="frcnn_form.fontScale"
                                                     :precision="2"
                                                     :step="0.01"
                                                     :max="1" :min="0"
                                                     name="fontScale"></el-input-number>
                                </el-form-item>
                                <el-form-item label="thickness">
                                    <el-input-number v-model="frcnn_form.thickness"
                                                     @change="handleChange"
                                                     :min="1" :max="10"
                                                     name="thickness"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="" native-type="submit">
                                        Submit
                                    </el-button>
                                    <el-button @click="dialog = false">Cancel</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Key Frame Extraction" name="third">
                        <div class="demo-drawer__content3">
                            <el-form ref="keyframe_form" :model="keyframe_form"
                                     label-width="100px"
                                     action=""
                                     method="Post">
                                <el-form-item label="Min_dist">
                                    <el-input v-model="keyframe_form.Min_dist"
                                              name="Min_dist"></el-input>
                                </el-form-item>
                                <el-form-item label="Thres">
                                    <el-input-number v-model="keyframe_form.Thres"
                                                     :precision="2"
                                                     :step="0.01"
                                                     :max="1" :min="0"
                                                     name="Thres"></el-input-number>
                                </el-form-item>
                                <el-form-item label="Deg">
                                    <el-input-number v-model="keyframe_form.Deg"
                                                     @change="handleChange" :min="1"
                                                     :max="10" name="Deg"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="" native-type="submit">
                                        Submit
                                    </el-button>
                                    <el-button @click="dialog = false">Cancel</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-tab-pane>

                </el-tabs>
            </template>
        </div>
    </el-drawer>
</div>
</body>

<script>
    var Main = {
        data() {
            return {
                activeName: 'first',
                dialog: false,
                loading: false,
                yolov5_form: {
                    imgsz: "(640,640)",
                    conf_thres: 0.25,
                    iou_thres: 0.45,
                    device_option: [{
                        value: '0',
                        label: '0'
                    }, {
                        value: '0,1,2,3',
                        label: '0,1,2,3'
                    }, {
                        value: 'cpu',
                        label: 'cpu'
                    }],
                    device: 'cpu',
                    line_thickness: 3,
                    hide_labels_option: [{
                        value: 'False',
                        label: 'False'
                    }, {
                        value: 'True',
                        label: 'True'
                    }],
                    hide_labels: "False",
                    hide_conf_option: [{
                        value: 'False',
                        label: 'False'
                    }, {
                        value: 'True',
                        label: 'True'
                    }],
                    hide_conf: "False"
                },
                frcnn_form: {
                    scores_thres: 0.5,
                    fontScale: 0.4,
                    thickness: 1
                },
                keyframe_form: {
                    Min_dist: 30,
                    Thres: 0.3,
                    Deg: 2
                }
            }
        },
        methods: {
            submit_yolov5_configuration(e) {
                /* formData格式提交： */
                /*
                let formData = new FormData();
                for (var key in this.yolov5_form) {
                    formData.append(key, this.model[key]);
                }*/
                action_yolov5()
            }
        },
        methods: {
            onSubmit() {
                console.log('submit!');
            }
        },
        methods: {
            handleClose(done) {
                if (this.loading) {
                    return;
                }
                this.$confirm('Are you sure you want to submit the form?')
                    .then(_ => {
                        this.loading = true;
                        this.timer = setTimeout(() => {
                            done();
                            // 动画关闭需要一定的时间
                            setTimeout(() => {
                                this.loading = false;
                            }, 400);
                        }, 2000);
                    })
                    .catch(_ => {
                    });
            },
            cancelForm() {
                this.loading = false;
                this.dialog = false;
                clearTimeout(this.timer);
            }
        },
        methods: {
            get_advice() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                var repeat = 1;
                var advice = setInterval(function () {
                    if (repeat == 0) {
                        clearInterval(advice);
                    } else {
                        getadvice();
                        loading.close();
                        repeat--;
                    }
                }, 4000)
            }
            ,
            openFullScreen2() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                setTimeout(() => {
                    loading.close();
                }, 99999999);
            }
        }
    }

    function action_yolov5() {
        $.ajax({
            url: '/yolov5_configuration',
            type: 'post',
            success: function () {
                console.log("success")
            }
        });
    }

    function getadvice() {
        $.ajax({
            url: '/repair_advice_table',
            type: 'get',
            success: function (advice) {
                $('#repair_advice').html(advice)
            }
        });
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#container')
</script>
<script type="text/javascript">
    {#查询所有#}
    var neo4j_data = [{{ neo4j_data|safe }}]
    var data1 = neo4j_data[0]['data']
    var links1 = neo4j_data[0]['links']
    console.log(data1)
    console.log(links1)
    var myChart1 = echarts.init(document.getElementById('container-echarts'));
    var categories1 = [{name: "Object"}, {name: "Property"}, {name: "Instance"}];
    option1 = {
        // 图的标题
        title: {
            text: 'Pipeline Ontology Model'
        },
        // 提示框的配置
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: [{
            // selectedMode: 'single',
            data: categories1.map(function (a) {
                return a.name;
            })
        }],
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 40, // 调整节点的大小
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [2, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            force: {
                repulsion: 2500,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#4b565b',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    }
                }
            },
            label: {
                normal: {
                    show: true,
                    textStyle: {}
                }
            },

            // 数据
            data: data1,
            links: links1,
            categories: categories1,
        }]
    };
    myChart1.setOption(option1);
</script>
</html>
